@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: space.$s4;
  border: 1px solid color.$error-300;
  border-radius: space.$s2;
  background-color: color.$error-25;
  color: color.$error-700;
  box-sizing: border-box;
}

.alertItem {
  display: flex;
  gap: space.$s4;
  flex-direction: row;
  align-items: center;
}

.alertMessageText {
  flex: 1 1;
}

.alertAction {
  cursor: pointer;
}
